@model IEnumerable<SonaBookings.Models.RoomType>

<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                @foreach(var item in Model)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/template/@item.RoomTypePhoto">
                            <div class="hr-text">
                                <h3 class="text-dark">@item.RoomTypeName</h3>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Bed:</td>
                                            <td>King Beds</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Services:</td>
                                            <td>Wifi, Television, Bathroom,...</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="/Rooms/CheckRoomByType/?roomTypeId=@item.RoomTypeOrder" class="primary-btn">More Details</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
