@model IEnumerable<SonaBookings.Models.Invoice>

@{
    ViewData["Title"] = "ViewAllInvoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách hóa đơn</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Ngày thanh toán 
            </th>
            <th>
                Tổng tiền 
            </th>
            <th>
                Trạng thái thanh toán
            </th>
            <th>
                Chi tiết
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.InvoiceDate
                </td>
                <td>
                    @item.InvoiceAmount VND 
                </td>
                <td>
                    @(item.IsPaid ? "Đã thanh toán" : "Chưa thanh toán")
                </td>
                <td>
                    <a asp-action="InvoiceDetails" asp-route-id="@item.InvoiceId" class="text-dark">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<partial name="_ViewDetailsStyle" />
